<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBU7-BR1pGAmWTrOyy5LjE_yoCRvr7Lf3A</string>
	<key>GCM_SENDER_ID</key>
	<string>181080084102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rentlApp.HomeMade</string>
	<key>PROJECT_ID</key>
	<string>homemade-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>homemade-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181080084102:ios:2cf21afbb982f6154c8b07</string>
</dict>
</plist>